/*  CARD & TEXT*/
.content-card {
    -fx-background-color: #ffffff;
    -fx-background-radius: 14;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.05), 10, 0, 0, 2);
}

.content-title {
    -fx-font-size: 20px;
    -fx-font-weight: 800;
    -fx-text-fill: #1976f3;
}

.content-subtitle {
    -fx-font-size: 13px;
    -fx-text-fill: #7a828a;
}

/* BUTTONS & LINKS */
.secondary-btn {
    -fx-padding: 6 15;
    -fx-background-color: transparent;
    -fx-background-radius: 6;
    -fx-border-color: #e0e0e0;
    -fx-border-radius: 6;
    -fx-text-fill: #444444;
    -fx-cursor: hand;
}

.view-link {
    -fx-font-weight: bold;
    -fx-text-fill: #1976f3;
    -fx-underline: false;
    -fx-cursor: hand;
}

.view-link:hover {
    -fx-text-fill: #125cc1;
    -fx-underline: true;
    -fx-opacity: 1;
}

.view-link:pressed {
    -fx-text-fill: #0d47a1;
    -fx-opacity: 0.8;
}

/* TABLE VIEW */
.auction-table {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.auction-table .column-header-background {
    -fx-background-color: #f8f9fb;
}

.auction-table .column-header {
    -fx-size: 45;
    -fx-padding: 0 0 0 20;
    -fx-alignment: CENTER_LEFT;
    -fx-background-color: transparent;
    -fx-border-color: #f1f1f1;
    -fx-border-width: 0 0 1 0;
}

.auction-table .column-header .label {
    -fx-font-weight: bold;
    -fx-text-fill: #7a828a;
}

.auction-table .table-cell {
    -fx-padding: 0 0 0 15;
    -fx-alignment: CENTER_LEFT;
}

.action-column-cell {
    -fx-alignment: CENTER;
}

.auction-table .table-row-cell {
    -fx-cell-size: 50;
    -fx-background-color: transparent;
    -fx-border-color: #f1f1f1;
    -fx-border-width: 0 0 1 0;
}

.auction-table .table-row-cell:filled:selected {
    -fx-background-color: #f8f9fb;
    -fx-table-cell-border-color: transparent;
}

.auction-table .table-row-cell:empty {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.auction-table .table-row-cell:empty .table-cell {
    -fx-border-color: transparent;
}

.auction-table .table-row-cell:filled:selected,
.auction-table .table-row-cell:focused {
    -fx-background-color: #f1f5f9;
    -fx-background-insets: 0;
}

/*  ACTION COMPONENTS (Buttons & Badges) */
.accept-btn {
    -fx-padding: 5 10;
    -fx-background-color: #e6f7ef;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-font-weight: bold;
    -fx-text-fill: #27ae60;
}

.reject-btn {
    -fx-padding: 5 10;
    -fx-background-color: #ffebee;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-font-weight: bold;
    -fx-text-fill: #eb5757;
}

.status-banned-badge {
    -fx-padding: 4 8 4 8;
    -fx-background-color: #ffe6e6;
    -fx-background-radius: 4;
    -fx-border-color: #ffcccc;
    -fx-border-radius: 4;
    -fx-font-weight: bold;
    -fx-text-fill: #cc0000;
}

/* PAGINATION */
.pagination-btn {
    -fx-min-width: 32;
    -fx-background-color: white;
    -fx-background-radius: 4;
    -fx-border-color: #e0e0e0;
    -fx-border-radius: 4;
}

.pagination-btn-active {
    -fx-background-color: #1976f3;
    -fx-border-color: #1976f3;
    -fx-text-fill: white;
}