#auth-page {
    -fx-background-color: white;
    -fx-font-family: "Inter 18pt";
}

#main-title {
    -fx-font-family: "Inter 18pt SemiBold";
    -fx-font-size: 32;
}

/*chung*/
.image-container {
    -fx-background-color: #1a1a1a;
    -fx-background-size: cover;
    -fx-pref-width: 720px;
    -fx-min-width: 400px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.title {
    -fx-font-family: "Inter 18pt Medium";
    -fx-font-size: 16
}

.textBox {
    -fx-background-color: white;
    -fx-border-color: #3b82f6;
    -fx-border-radius: 6;
    -fx-pref-height: 50px;
    -fx-background-radius: 6;
    -fx-border-width: 1.5;
}

.submitButton {
    -fx-background-color: #3b82f6;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-pref-height: 60px;
    -fx-max-width: Infinity;
    -fx-background-radius: 6;
    -fx-cursor: hand;
}

.switchButton {
    -fx-font-family: "Inter 18pt ExtraBold";
    -fx-font-size: 16;
    -fx-cursor: hand;
    -fx-background-color: none;
}

.switchButton:hover {
   -fx-text-fill: #2563eb;
}

/*login*/
.login-image-bg {
    -fx-background-image: url("../assets/Signin.png");
    -fx-background-repeat: no-repeat;

    /* SCALE: 'cover' giúp ảnh luôn lấp đầy khung mà không bị méo */
    -fx-background-size: cover;

    /* POSITION: Luôn lấy tâm ảnh làm điểm gốc để hiển thị */
    -fx-background-position: center center;
}

/*register*/
.register-image-bg {
    -fx-background-image: url("../assets/Signup.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

#registerSubmit {
    -fx-background-color: #000000;
    -fx-text-fill: #ffffff;
}

#registerSubmit:hover {
    -fx-background-color: #333333;
}

.otp-box {
    -fx-pref-width: 45px;
    -fx-pref-height: 55px;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-background-color: #f3f4f6;
    -fx-border-color: #d1d5db;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

.otp-box:focused {
    -fx-border-color: #2563eb;
    -fx-border-width: 2px;
    -fx-background-color: #ffffff;
}

.resend-btn{
    -fx-background-color: white;
    -fx-text-fill: #000000;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.resend-btn:hover {
    -fx-text-fill: #2563eb;
}
.submit-btn{
    -fx-font-size: 18px;
    -fx-background-color: #000000;
    -fx-text-fill: white;
    fx-font-weight: bold;
    -fx-background-radius: 8px;
}
.back-login-btn {
    -fx-background-color: transparent;
    -fx-text-fill: #111111;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-padding: 4 10 4 10;
    -fx-cursor: hand;
}

.back-login-btn:hover {
    -fx-text-fill: #2563eb;
}


