/* --- Cài đặt chung --- */
.root {
    -fx-font-family: "Segoe UI", Arial, sans-serif;
    -fx-background-color: white;
}

.main-container {
    -fx-background-color: white;
    -fx-padding: 0;
}


/* --- Explore Categories Section --- */
.categories-section {
    -fx-background-color: white;
    -fx-padding: 30 0 40 0;
}

.section-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #111111;
    -fx-pref-height: 80px;
    -fx-max-width: Infinity;
    -fx-alignment: center;
}

.categories-list {
    -fx-vgap: 20px;
    -fx-hgap: 40px;
    -fx-padding: 20 0 40 0;
    -fx-alignment: center;
}

.category-item {
    -fx-alignment: center;
    -fx-spacing: 10px;
    -fx-cursor: hand;
    -fx-pref-width: 100px;
}

.cat-icon-bg {
    -fx-background-color: #f1f3f5;
    -fx-background-radius: 50%;
    -fx-min-width: 60px;
    -fx-max-width: 60px;
    -fx-min-height: 60px;
    -fx-max-height: 60px;
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
    -fx-alignment: center;
    -fx-padding: 0;
    -fx-transition: all 0.2s ease-in-out;
}


.category-item:pressed {
    -fx-opacity: 0.7;
}

.category-item:pressed .cat-icon-bg {
    -fx-scale-x: 0.92;
    -fx-scale-y: 0.92;
}

.category-item:hover .cat-icon-bg {
    -fx-background-color: #e0e7ff;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.category-item Label {
    -fx-text-fill: #666666;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
}

/* Hiệu ứng click của cate */
.active-category {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.active-category .cat-icon-bg {
    -fx-background-color: #ebf2ff;
    -fx-background-radius: 50%;

    -fx-border-color: #3b82f6;
    -fx-border-width: 4px;
    -fx-border-radius: 50%;
    -fx-border-insets: -8px;
    -fx-overflow-hidden: false;
}

.active-category ImageView {
    -fx-opacity: 1;
}

.active-category Label {
    -fx-text-fill: #3b82f6;
}

.add-auction-button:pressed {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-background-color: #1d4ed8;
}

.add-auction-button {
    -fx-background-color: #3b82f6;
    -fx-background-radius: 50%;
    -fx-min-width: 60px;
    -fx-max-width: 60px;
    -fx-min-height: 60px;
    -fx-max-height: 60px;
    -fx-cursor: hand;
    -fx-padding: 0;
}

.add-auction-button .label {
    -fx-text-fill: white !important;
    -fx-font-weight: bold;
    -fx-font-size: 30px;
    -fx-alignment: center;
}

.add-auction-button:hover {
    -fx-background-color: #2563eb;
}

/* Auction Card */
.auction-card {
    -fx-background-color: white;
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.05), 15, 0, 0, 5);
    -fx-pref-width: 280px;
    -fx-min-height: 400px;
    -fx-cursor: hand;
    -fx-padding: 0;
    -fx-transition: all 0.3s ease-in-out;
}

.auction-card:hover {
    -fx-translate-y: -8px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.12), 20, 0, 0, 10);
}

.image-container {
    -fx-background-color: #F4F4F4;
    -fx-background-radius: 20px 20px 0 0;
    -fx-padding: 0;
    -fx-min-height: 240px;
    -fx-alignment: center;
}

/* Nội dung thông tin */
.content-container {
    -fx-padding: 10px;
    -fx-spacing: 12px;
}

.product-name {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #1A1A1B;

}

/* Badge Trạng thái */
.status-badge {
    -fx-background-color: #E8F5E9;
    -fx-text-fill: #2E7D32;
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-padding: 4px 10px;
    -fx-background-radius: 5px;
    -fx-max-width: 80px;
    -fx-alignment: center;
}

.info-grid {
    -fx-border-color: #F0F0F0 transparent transparent transparent;
    -fx-border-width: 1px;
    -fx-padding: 15px 0 0 0;
}

.info-label {
    -fx-font-size: 14px;
    -fx-text-fill: #8E8E93;
    -fx-font-weight: 600;
}

.info-icon {
    -fx-font-size: 14px;
    -fx-text-fill: #2ecc71;
}

.info-value-price {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #4A835D;
}

.info-value-time {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #111111;
}

.info-sub-label {
    -fx-font-size: 11px;
    -fx-text-fill: #999999;
}

/* Chỉnh cục lăn  */
.scroll-pane .scroll-bar:vertical {
    -fx-pref-width: 14px;
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #c1c1c1;
    -fx-background-radius: 10px;
}

.scroll-pane .scroll-bar:vertical .thumb:hover {
    -fx-background-color: #a8a8a8;
}

.scroll-pane .scroll-bar:vertical .increment-button,
.scroll-pane .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-pref-height: 0px;
    -fx-padding: 0;
}

.scroll-pane .scroll-bar:vertical .increment-arrow,
.scroll-pane .scroll-bar:vertical .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}



