.header-section {
    -fx-background-color: #1B263B;
    -fx-padding: 30 40 30 40;
}

.top-bar {
    -fx-padding: 0 0 0 0;
}

/* khung chứa logo và tên*/
.logo-container {
    -fx-padding: 0 30 0 0;
}

.logo-icon {
    -fx-font-size: 32px;
    -fx-alignment: CENTER;
    -fx-text-fill: #FBBF24;
}

.logo-text {
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-text-fill: white;
}

/* Home Menu */
.nav-menu {
    -fx-spacing: 40px;
    -fx-padding: 10 0 10 0;
}

.nav-item {
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-border-width: 0 0 3 0;
}

.nav-item:hover {
    -fx-text-fill: #FBBF24;
}

/*CATEGORY*/
.categories-dropdown-active {
    -fx-text-fill: #FBBF24;
    -fx-border-color: #FBBF24;
    -fx-border-width: 0 0 3 0;
}

.categories-dropdown {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

/* Thanh tìm kiếm */
.search-bar {
    -fx-background-color: #f1f3f5;
    -fx-background-radius: 20px;
    -fx-padding: 5 15 5 15;
    -fx-min-width: 300px;
}

.search-icon {
    -fx-text-fill: #0056b3;
    -fx-font-size: 14px;
}

.search-input {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-prompt-text-fill: #a0a0a0;
    -fx-pref-width: 350px;
}

/* Profile */
.profile-icon-container {
    -fx-background-color: #0056b3;
    -fx-background-radius: 50%;
    -fx-min-width: 35px;
    -fx-min-height: 35px;
    -fx-max-width: 35px;
    -fx-max-height: 35px;
}

.profile-icon {
    -fx-text-fill: black;
    -fx-font-size: 18px;
}

.profile-name {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

