.header-section {
    -fx-background-color: #1B263B;
    -fx-padding: 30 40 30 40;
}

.top-bar {
    -fx-padding: 0 0 0 0;
    -fx-alignment: CENTER;
}

/* khung chứa logo và tên*/
.logo-container {
    -fx-padding: 0 30 0 0;
    -fx-cursor: hand
}

.logo-icon {
    -fx-font-size: 32px;
    -fx-alignment: CENTER_LEFT;
    -fx-text-fill: #FBBF24;
}

.logo-text {
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-text-fill: white;
}

/* Home Menu */
.nav-menu {
    -fx-spacing: 40px;
    -fx-padding: 10 0 10 0;
}

.nav-item {
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-border-width: 0 0 3 0;
}

.nav-item:hover {
    -fx-text-fill: #FBBF24;
}

/* Thanh tìm kiếm */
.search-bar {
    -fx-background-color: #f1f3f5;
    -fx-background-radius: 20px;
    -fx-padding: 5 15 5 15;
    -fx-min-width: 300px;
    -fx-alignment: center;
    -fx-max-width: 800px;
    -fx-pref-width: 600px;
}

.search-icon {
    -fx-text-fill: #0056b3;
    -fx-font-size: 14px;
}

.search-input {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-prompt-text-fill: #a0a0a0;
    -fx-pref-width: 350px;
}

/* Profile */
.profile-name {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.avatar-container {
    -fx-background-color: #2f80ed;
    -fx-background-radius: 999;
    -fx-pref-height: 40px;
    -fx-pref-width: 40px;
    -fx-min-height: 40px;
    -fx-min-width: 40px;
    -fx-max-width: 40px;
    -fx-max-height: 40px;
}

