/* Thêm vào đầu file CSS */
.hbox {
    -fx-min-width: 200px;
    -fx-max-width: 400px; /* Giới hạn chiều ngang */
}

.toast-error {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-background-color: #dc2626;
    -fx-padding: 10 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 5);
}

.toast-success {
    -fx-background-color: #16a34a;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-padding: 10 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 5);
}

.toast-info {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-background-color: #F39C12;
    -fx-padding: 10 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 5);
}

.toast-error .label, .toast-success .label, .toast-info .label {
    -fx-text-fill: white;
    -fx-font-size: 16px;
}